
/*价格及描述*/
.main strong{
	font-size: 25px;
	color: #ff6700;
}
.main del{
	font-size: 12px;
	color: #857666;
}
.main span{
	font-size: 12px;
}
/* 标签*/
.flag{
		position: absolute;
		top: 0px;
		left: 50%;
		width: 66px;
		height: 22px;
		line-height: 22px;
		color: #fff;
		font-size: 12px;
		border: 1px solid #ff6700;
		text-align: center;	
		z-index: 100;
		text-align: center;
	}
	.new-flag{
		background: #fff;
		color: #ff6700;
	}
.top{
	background: #333333;
	font-size: 12px;
}
.top .top-nav{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .top-nav .top-nav-itme{
	float: left;
	line-height: 40px;
}
.top .sep{
	color: #413b36;
	margin: 0 0.5em;
}
.top .user-info{
	float: right;
	width: 170px;
	height: 40px;
	margin-right: 20px;
}
.top .user-info .user-info-item{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .cart{
	float: right;
	width: 120px;
	background: #424242;
}
.top .cart .cart-box a{
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top .cart .cart-box .icon-cart{
	font-size: 20px;
	vertical-align: -4px;
}
.top .cart .cart-box a:hover{
	background: #fff;
	color: #ff6700;
}
.header{
	height: 100px;
	position: relative;
}
.header .logo{
	float: left;
	height: 55px;
	width: 55px;
	background: #ff6700;
	margin-top: 22px;
}
.header .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../imgzsc/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: cover;
	text-indent: -100em;
}
.header .header-nav{
	float: left;
	height: 100px;
	margin-left: 190px;
}
.header .header-nav .header-nav-item{
	float: left;
	height: 100px;
	line-height: 100px;
	margin-right: 20px;
	/*position: relative;*/
}
.header .header-nav .header-nav-item:hover .search-keyword-list{
	display: block;
}
.header .header-nav .header-nav-item a{
	font-size: 16px;
	color: #333;
}
.header .header-nav .header-nav-item .search-keyword-list{
	width: 247px;
	display: none;
	position: absolute;
	top: 100px;
	left: 180px;
	width: 247px;
	border: 1px solid #ff6700;
	box-sizing: border-box;
	background: #fff;
	font-size: 12px;
	z-index: 2
}
.header .header-nav .header-nav-item .box{
	background-color: #fff;
	height: 250px;
	width: 1600px;
	position: absolute;
	top: 100px;
	left: 0;
	border-top: 1px solid #e0e0e0;
	box-sizing: border-box;
	font-size: 12px;
	z-index: 99;
	display: none;
}
.header .header-nav .header-nav-item:hover .box{
	display: block;
}
.header .header-nav .header-nav-item .box .box1{
	width: 150px;
	position: relative;
	float: left;
	margin-left: 50px;
}
.header .header-nav .header-nav-item .box .box1:first-child{
	margin-left: 215px
}
.header .header-nav .header-nav-item .box .box1 .box2{
	width: 205px;
	height: 113px;
	margin-top: 35px;
	border-right: 1px solid #e0e0e0;
}
.header .header-nav .header-nav-item .box .box1 .box2 img{
	width: 205px;
	height: 113px;
}
.header .header-nav .header-nav-item .box .box1 .product-name{
	font-size: 12px;
	color: #333333;
	margin-left: 20px;	
	text-align: center;
}
.header .header-nav .header-nav-item .box .box1 .product-price{
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	margin-left: 20px;
	margin-top: -80px;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword-item a{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 10px 20px;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword-item:hover{
	background-color: #ff6700;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword-item .iconfont{
	float: right;
	color: #757575;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword{
	font-size: 16px;
	color: #757575;
}
.header .header-nav .header-nav-item .search-keyword-list:foucs{
	display: block;
	border-color: #ff6700;
}
.header .header-nav .header-nav-item a:hover{
	color: #ff6700;
}
.header .search{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	position: relative;
}
.header .search .search-text{
	float: left;
	width: 246px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-right: none; 
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.header .search  .search-text:hover{
	border-color: #999;
}
.header .search  .search-text:hover + .search-btn{
	border-color: #999;
}
.header .search .search-btn{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
}
.header .search:focus + .search-btn{
	border-color: #ff6700;
}

.header .search .search-btn:hover{
	background: #ff6700;
	cursor: pointer;
	color: #fff;
}
.header .search .search-text:focus {
	border-color: #ff6700;
}
.header .search .search-text:focus + .search-btn {
	border-color: #ff6700;
}
.header .search .search-hot-words{
	position: absolute;
	left: 100px;
	line-height: 50px;
}
.header .search .search-text:focus ~ .search-hot-words{
	display: none;
}
.header .search .search-hot-words .search-hot-words-item:hover{
	background: #ff6700;
	line-height: 18px;
	height: 18px;

}
.header .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	padding: 0 3px;
	color: #757575;
	background: #eee;
}
.header .search .search-keyword-list{
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 247px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
	font-size: 12px;
	z-index: 2
}
.header .search-text:focus~.search-keyword-list{
	display: block;
	border-color: #ff6700;
}
.header .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;
}
.header .search .search-keyword-list .keyword-item a{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
}
.header .search .search-keyword-list .keyword-item:hover{
	background: #eee;
}
.header .keyword{
	color: #333;
}

.header .search .search-keyword-list .keyword-item .num{
	float: right;
	color: #b0b0b0;
}
.logo{
	width: 100%;
	height: 620px;
	background-color: #c2efe8;
	position: relative;
}
.logo:hover{
	cursor: pointer;
}
.logo img{
	position: absolute;
	right: 320px;
	top: 90px;
}
.logo .list{
	width: 280px;
	height: 210px;
	position: relative;
	padding-top: 220px;
	margin-left: 330px;
}
.logo h4{
	font-size: 30px;
	color: #263031;
	font-weight: bold;
}
.logo .list .desc{
	font-size: 16px;
	color: #4a5f60;
}
.logo .list p{
	position: absolute;
	left: 0px;
	bottom: 50px;
	font-size: 24px;
	color: #51cab9;
}
.logo .list .list-item{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 175px;
	text-align: center;
	line-height: 50px;
	background-color: #51cab9;
}
.logo .list .list-item a{
	font-size: 14px;
	color: #fff;
}
.main{
	height: 2100px;
	background-color: #fff;
}
.main .camera{
	height: 1040px;
}
.main .camera .box1{
	width: 100%;
	height: 435px;
	transition: all 0.3s;
}
.main .camera .box1:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.camera h2{
	text-align: center;
	font-size: 36px;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #333;
}
.main .camera .camera-item{
	width: 100%;
	height: 100%;
}
.main .camera .camera-item img{
	width: 853px;
}
.main .camera .camera-item .right{
	float: right;
	width: 380px;
	height: 435px;
	position: relative;
}
.main .camera .camera-item .right a:nth-child(1){
	font-size: 30px;
	color: #474747;
	position: absolute;
	left: 62px;
	top: 95px;
}
.main .camera .camera-item .right a:last-child{
	font-size: 12px;
	color: #707070;
	position: absolute;
	left: 62px;
	bottom: 66px;
}

.main .camera .camera-item .right .list-desc{
	position: absolute;
	left: 62px;
	bottom: 240px;
	font-size: 12px;
	color: #707070;
}
.main .camera .camera-item .right .list-nub{
	position: absolute;
	left: 62px;
	bottom: 168px;
	color: #ff6700;
}

.box2{
	width: 100%;
	height: 510px;
}
.box2 img{
	height: 360px;
	width: 605px;
	margin-top: 20px;
	cursor: pointer;
}
.box2 .right{
	float: right;
	height: 100%;
	width: 605px;
	position: relative;
	transition: all 0.3s;
}
.box2 .right:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.box2 .left{
	float: left;
	height: 100%;
	width: 605px;
	position: relative;
	transition: all 0.3s;
}
.box2 .left:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.box2 .list-name{
	font-size: 22px;
	color: #474747;
	display: block;
	margin-left: 50px;
	margin-top: 40px;
}
.box2 .list-desc{
	font-size: 12px;
	color: #707070;
	margin-left: 50px;
	margin-top: 10px;
}
.box2 .list-nub{
	color: #ff6700;
	font-size: 22px;
	position: absolute;
	bottom: 40px;
	right: 45px;
}
.recommend{
	height: 1280px;
}
.recommend .box{
	width: 100%;
	height: 390px;
}
.recommend  .box-item{
	width: 400px;
	height: 100%;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.recommend .box-item:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.recommend .box img{
	height: 270px;
	width: 400px;
	margin-bottom: 18px;
}
.recommend .box .list-name{
	font-size: 20px;
	color: #474747;
}
.recommend .box .list-desc{
	margin-top: 8px;
	font-size: 12px;
	color: #707070;
}
.recommend .box .list-nub{
	margin-top: 10px;
}
.recommend .box strong{
	color: #ff6700;
	font-size: 18px;
}
.recommend .box span{
	font-size: 12px;
	color: #ff6700;
}
.footer{
	height: 300px;
}
.footer .service{
	border-bottom: 1px solid #e0e0e0;
}
.footer .service .service-item{
	float: left;
	width: 20%;
	height: 16px;
	padding: 30px 0;
	text-align: center;
}
.footer .service .service-item a{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #616161;
	border-right: 1px solid #e0e0e0;
}
.footer .service .service-item a:hover{
	color: #ff6700;
}
.footer .service .service-item:last-child a{
	border: none;
}
.footer .service .service-item a i{
	font-size: 22px;
	margin-right: 8px;
	vertical-align: -4px;
}
.footer .links .links-item{
	float: left;
	padding: 40px 0;
	margin-right: 105px;
}
.footer .links .links-item dt{
	font-size: 14px;
	color: #424242;
	margin-bottom: 26px;
}
.footer .links .links-item dd{
	font-size: 12px;
	color: #757575;
	margin-bottom: 16px;
}
.footer .links .links-item dd a:hover{
	color: #ff6700;
}
.footer .links .links-contact{
	float: right;
	width: 246px;
	height: 117px;
	margin: 40px 0;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.footer .links .links-contact .phone-nub{
	font-size: 22px;
	color: #ff6700;
}
.footer .links .links-contact .work-time,
.footer .links .links-contact .desc{
	font-size: 12px;
	color: #616161;
}
.footer .links .links-contact .desc{
	margin-bottom: 16px;
}
.footer .links .links-contact .call a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ff6700;
	background-color: #fff;
}
.footer .links .links-contact .call a i,
.footer .links .links-contact .call a{
	font-size: 12px;
	color: #ff6700;
}
.footer .links .links-contact .call a i{
	margin-right: 3px;
}
.footer .links .links-contact .call a:hover{
	background-color: #ff6700;
	color: #fff;
}
.footer .links .links-contact .call a:hover i{
	color: #fff;
}
.end{
	height: 148px;
	width: 100%;
	position: relative;
}
.end .info .logo{
	float: left;
	height: 55px;
	width: 55px;
	background: #ff6700;
	margin-top: 22px;
}
.end .info .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../imgzsc/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -100em;
}
.end .a1-item{
	width: 900px;
}
.end .a1 .icp{
	color: #757575;
	font-size: 10px;
}
.end .a1 .icp a:hover{
	color: #ff6700;
}
.end .a1-item a{
	display: inline-block;
	font-size: 10px;
	margin-top: 20px;
	color: #757575;
	padding-right: 5px;
	border-right: 1px solid #e0e0e0;
}
.end .a1-item a:hover{
	color: #ff6700;
}
.end .a1-item a:last-child{
	border-right: none;
}
.end .a2-item{
	color: #bbbbbb;
}
.end .a2-item a:hover{
	color: #ff6700;
}
.end .a2-item{
	float: right;
	position: absolute;
	top: 20px;
	right: 150px;
}
.end .a2-item img{
	height: 28px;
}
.end .foot{
	height: 40px;
	background-image: url(../images/slogan.png);
	background-repeat: no-repeat;
	background-position:center bottom ;