/* 标签*/
.flag{
		position: absolute;
		top: 0px;
		left: 50%;
		width: 66px;
		height: 22px;
		line-height: 22px;
		color: #fff;
		font-size: 12px;
		border: 1px solid #ff6700;
		text-align: center;	
		z-index: 100;
		text-align: center;
	}
	.new-flag{
		background: #fff;
		color: #ff6700;
	}
.top{
	background: #333333;
	font-size: 12px;
}
.top .top-nav{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .top-nav .top-nav-itme{
	float: left;
	line-height: 40px;
}
.top .sep{
	color: #413b36;
	margin: 0 0.5em;
}
.top .user-info{
	float: right;
	width: 170px;
	height: 40px;
	margin-right: 20px;
}
.top .user-info .user-info-item{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top .cart{
	float: right;
	width: 120px;
	background: #424242;
}
.top .cart .cart-box a{
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top .cart .cart-box .icon-cart{
	font-size: 20px;
	vertical-align: -4px;
}
.top .cart .cart-box a:hover{
	background: #fff;
	color: #ff6700;
}
.top .cart .cart-box .box1{
	width: 320px;
	height: 100px;
	position: absolute;
	top:40px;
	right: 102px;
	text-align: center;
	line-height: 100px;
	z-index: 2;
	color: #424242;
	display: none;
	background-color: #fff;
	transition: all 0.3s ;
	transition-property: height 1s;
}
.top .cart .cart-box:hover .box1{
	display: block;
	transform: translateY(-1px);
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
	height: 100px;
}
.header{
	height: 100px;
	position: relative;
}
.header .logo{
	float: left;
	height: 55px;
	width: 55px;
	background: #ff6700;
	margin-top: 22px;
}
.header .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../imgzsc/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: cover;
	text-indent: -100em;
}
.header .header-nav{
	float: left;
	height: 100px;
	margin-left: 190px;
}
.header .header-nav .header-nav-item{
	float: left;
	height: 100px;
	line-height: 100px;
	margin-right: 20px;
	/*position: relative;*/
}
.header .header-nav .header-nav-item:hover .search-keyword-list{
	display: block;
}
.header .header-nav .header-nav-item a{
	font-size: 16px;
	color: #333;
}
.header .header-nav .header-nav-item .search-keyword-list{
	width: 247px;
	display: none;
	position: absolute;
	top: 100px;
	left: 180px;
	width: 247px;
	border: 1px solid #ff6700;
	box-sizing: border-box;
	background: #fff;
	font-size: 12px;
	z-index: 2
}
.header .header-nav .header-nav-item .box{
	background-color: #fff;
	height: 250px;
	width: 1600px;
	position: absolute;
	top: 100px;
	left: 0;
	border-top: 1px solid #e0e0e0;
	box-sizing: border-box;
	font-size: 12px;
	z-index: 99;
	display: none;
}
.header .header-nav .header-nav-item:hover .box{
	display: block;
}
.header .header-nav .header-nav-item .box .box1{
	width: 150px;
	position: relative;
	float: left;
	margin-left: 50px;
}
.header .header-nav .header-nav-item .box .box1:first-child{
	margin-left: 100px
}
.header .header-nav .header-nav-item .box .box1 .box2{
	width: 205px;
	height: 113px;
	margin-top: 35px;
	border-right: 1px solid #e0e0e0;
}
.header .header-nav .header-nav-item .box .box1 .box2 img{
	width: 205px;
	height: 113px;
}
.header .header-nav .header-nav-item .box .box1 .product-name{
	font-size: 12px;
	color: #333333;
	margin-left: 20px;	
	text-align: center;
}
.header .header-nav .header-nav-item .box .box1 .product-price{
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	margin-left: 20px;
	margin-top: -80px;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword-item a{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 10px 20px;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword-item:hover{
	background-color: #ff6700;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword-item .iconfont{
	float: right;
	color: #757575;
}
.header .header-nav .header-nav-item .search-keyword-list .keyword{
	font-size: 16px;
	color: #757575;
}
.header .header-nav .header-nav-item .search-keyword-list:foucs{
	display: block;
	border-color: #ff6700;
}
.header .header-nav .header-nav-item a:hover{
	color: #ff6700;
}
.header .search{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	position: relative;
}
.header .search .search-text{
	float: left;
	width: 246px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-right: none; 
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.header .search  .search-text:hover{
	border-color: #999;
}
.header .search  .search-text:hover + .search-btn{
	border-color: #999;
}
.header .search .search-btn{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
}
.header .search:focus + .search-btn{
	border-color: #ff6700;
}

.header .search .search-btn:hover{
	background: #ff6700;
	cursor: pointer;
	color: #fff;
}
.header .search .search-text:focus {
	border-color: #ff6700;
}
.header .search .search-text:focus + .search-btn {
	border-color: #ff6700;
}
.header .search .search-hot-words{
	position: absolute;
	left: 100px;
	line-height: 50px;
}
.header .search .search-text:focus ~ .search-hot-words{
	display: none;
}
.header .search .search-hot-words .search-hot-words-item:hover{
	background: #ff6700;
	line-height: 18px;
	height: 18px;

}
.header .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	padding: 0 3px;
	color: #757575;
	background: #eee;
}
.header .search .search-keyword-list{
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 247px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
	font-size: 12px;
	z-index: 2
}
.header .search-text:focus~.search-keyword-list{
	display: block;
	border-color: #ff6700;
}
.header .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;
}
.header .search .search-keyword-list .keyword-item a{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
}
.header .search .search-keyword-list .keyword-item:hover{
	background: #eee;
}
.header .keyword{
	color: #333;
}

.header .search .search-keyword-list .keyword-item .num{
	float: right;
	color: #b0b0b0;
}
.logo {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.logo .hd{
	font-size: 12px;
	color:#757575;
}
.logo .content{
		list-style: none;
		width: 3699px;
		height: 300px;
		float: left;
		animation: sport 5s linear infinite 3s;
}

	@keyframes sport{
		from{
			margin-left: 0px;
		}
		to{
			margin-left: -1233px;
		}
}
.logo li{
		width: 1233px;
		height: 250px;
		float: left;
	}
.logo li img{
	margin-top:10px;
	width: 100%;
	height: 100%;
}
.logo .carousel-btn {
	position: absolute;
/*	top: 50%;
	left: 50%;*/
	bottom: 60px;
	left: 50%;
	margin-left: -20px;
}
.logo .carousel-btn li{
		float: left;
		width: 6px;
		height: 6px;
		border: 2px solid #b5b3ad;
		margin-left: 10px;
		background: #96938a;
		border-radius: 50%;
		cursor: pointer;
	}
.logo .carousel-btn li:hover{
		background: #fcf9f0;
		border-color: #979590;
	}

.main{
	width: 100%;
	height: 1500px;
}
.main .top{
	width: 100%;
	height: 750px;
	background: #fff;
}
.main .top h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;
}
.main .top .box{
	width: 24%;
	height: 250px;
	text-align: center;
	transition: all 0.3s;
	background: #fff;
	cursor: pointer;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
.main .top .box:hover a{
	color: #ff6700;
}
.main .top .box:hover{
	color: #ff6700;
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.main .top .box img{
	margin-top: 80px;
}
.main .top .box .list-name{
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-top: 20px;
}
.main .top .box .list-desc{
	margin-top: 17px;
	font-size: 12px;
}
.main .bottom{
	width: 100%;
	height: 750px;
}
.main .bottom .box{
	width: 24%;
	height: 310px;
	text-align: center;
	cursor: pointer;
	float: left;
}
.main .bottom .box .list-name{
	color: #666666;
	font-size: 16px;
	padding-bottom: 20px;
}
.main .bottom img{
	background: #fff;
}
.service{
	width: 100%;
	margin-top: 50px;
}
.box1{
	height: 500px;
	position: relative;
}
.service .box1 h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;
}
.service .box1 .left: {
	width: 600px;
	height: 360px;
	border: 1px solid #000;
}
.service .box1 .left img{
	width: 50%;
}
.service .box1 .right{
	width: 50%;
	height: 316px;
	position: absolute;
	right: 0;
	top: 20px;
	text-align: center;
}
.service .box1 .right h3{
	font-size: 20px;
	color: #000000;
	
	margin-top: 100px;
}
.service .box1 .right .desc{
	font-size: 16px;
	color: #666666;
	margin-top: 25px;
	margin-left: 40px;
}
.service .box1 .right .content{
	height: 55px;
	width: 60px;
	text-align: center;
	float: left;
	margin-left: 55px;
	margin-top: 45px;
}
.service .box1 .right a{
	display: block;
	font-size: 12px;
	color: #858585;
}
.service .box1 .right .list-name{
	position: absolute;
	bottom: -60px;
	left: 270px;
}
.service .box1 .right .list-name:hover{
	color: #ff6700;
}
.box2{
	height: 500px;
}
.service .box2 h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;

}
.service .box2 input{
	width: 60%;
	height: 25px;
	text-align: center;
	font-size: 16px;
	float: left;
	margin-top: 15px;
	border: none;
	margin-left: 50px;
	outline: none;
}
.service .box2 .search-btn{
	float: left;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: 150px;
}
.service .box2 .search-btn:hover{
	background-color: #ff6700;
	color: #fff;
	cursor: pointer;
}
.service .box2 .item{
	width: 175px;
	height: 65px;
}
.service .box2  a{
	float: left;
}
.service .header-nav{
	float: left;
	height: 100px;
	width: 100%;
}
.service .header-nav .header-nav-item{
	float: left;
	width: 150px;
	height: 100px;
	line-height: 100px;
	margin-right: 20px;
}
.service .header-nav .header-nav-item:first-child{
	margin-left: 20px
}
.service .header-nav .header-nav-item .tp{
	font-size: 16px;
	color: #333;
	text-align: center;
	width: 150px;
	height: 100px;
	display: inline-block;
	position: relative;
}
.service .header-nav .header-nav-item #active{
	background-color: #ff6700;
	color: #fff;
}
.service .header-nav .header-nav-item .tp:hover {
	background-color: #ff6700;
	color: #fff;
}
.service .header-nav .header-nav-item .a1{
	width: 900px;
	height: 200px;
	position: absolute;
	top: 2800px;
	left: 350px;
	font-size: 14px;
	cursor: pointer;
}
.service .header-nav .header-nav-item .a1 p{
	position: absolute;
	bottom: 0;
	left: 430px;
	margin-bottom: -30px;
	color: #767676;
}
.service .header-nav .header-nav-item .a1 p:hover{
	color: #ff6700;
}
.service .header-nav .header-nav-item .a1 .a2 a{
	width: 330px;
	float: left;
	color: #222222;
	margin-top: -40px;
	margin-left: 100px
}
.service .header-nav .header-nav-item .a1 .a2 a:hover{
	color: #ff6700;
}
.service .header-nav .header-nav-item .a1 .d1{
	width: 5px;
	height: 5px;
	float: left;
	background-color: #e0e0e0;
	margin-top: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.contact{
	width: 100%;
}
.contact h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: #666666;
	text-align: center;
}
.contact .box{
	width: 100%;
	height: 500px;
	position: relative;
}
.contact .box .box1{
	width: 360px;
	height: 250px;
	float: left;
	line-height: 250px;
	text-align: center;
	margin-right: 20px;
	margin-top: 10px;
	transition: all 0.3s;
}
.contact .box .box1:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.2)
}
.contact .box .box1:first-child{
	margin-left: 20px;
}
.contact .box .box1:nth-child(4){
	margin-left: 20px;
}
.contact .box .box1 span{
	
}
.contact .box .box1 p{
	font-size: 12px;
	color: #767676;
	position: absolute;
	bottom:-70px;
	left: 50px;
}
.end{
	height: 300px;
}
.end .service{
	border-bottom: 1px solid #e0e0e0;
}
.end .service .service-item{
	float: left;
	width: 20%;
	height: 16px;
	padding: 30px 0;
	text-align: center;
}
.end .service .service-item a{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #616161;
	border-right: 1px solid #e0e0e0;
}
.end .service .service-item a:hover:hover{
	color: #ff6700;
}
.end .service .service-item:last-child a{
	border: none;
}
.end .service .service-item a i{
	font-size: 22px;
	margin-right: 8px;
	vertical-align: -4px;
}
.end .links .links-item{
	float: left;
	padding: 40px 0;
	margin-right: 105px;
}
.end .links .links-item dt{
	font-size: 14px;
	color: #424242;
	margin-bottom: 26px;
}
.end .links .links-item dd{
	font-size: 12px;
	color: #757575;
	margin-bottom: 16px;
}
.end .links .links-item dd a:hover{
	color: #ff6700;
}
.end .links .links-contact{
	float: right;
	width: 246px;
	height: 117px;
	margin: 40px 0;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.end .links .links-contact .phone-nub{
	font-size: 22px;
	color: #ff6700;
}
.end .links .links-contact .work-time,
.end .links .links-contact .desc{
	font-size: 12px;
	color: #616161;
}
.end .links .links-contact .desc{
	margin-bottom: 16px;
}
.end .links .links-contact .call a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ff6700;
	background-color: #fff;
}
.end .links .links-contact .call a i,
.end .links .links-contact .call a{
	font-size: 12px;
	color: #ff6700;
}
.end .links .links-contact .call a i{
	margin-right: 3px;
}
.end .links .links-contact .call a:hover{
	background-color: #ff6700;
	color: #fff;
}
.end .links .links-contact .call a:hover i{
	color: #fff;
}

.footer{
	height: 148px;
	width: 100%;
	position: relative;
}
.footer .info .logo{
	float: left;
	height: 55px;
	width: 55px;
	background: #ff6700;
	margin-top: 22px;
}
.footer .info .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../imgzsc/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -100em;
}
.footer .a1-item{
	width: 900px;
}
.footer .a1 .icp{
	color: #757575;
	font-size: 10px;
}
.footer .a1 .icp a:hover{
	color: #ff6700;
}
.footer .a1-item a{
	display: inline-block;
	font-size: 10px;
	margin-top: 20px;
	color: #757575;
	padding-right: 5px;
	border-right: 1px solid #e0e0e0;
}
.footer .a1-item a:hover{
	color: #ff6700;
}
.footer .a1-item a:last-child{
	border-right: none;
}
.footer .a2-item{
	color: #bbbbbb;
}
.footer .a2-item a:hover{
	color: #ff6700;
}
.footer .a2-item{
	float: right;
	position: absolute;
	top: 20px;
	right: 150px;
}
.footer .a2-item img{
	height: 28px;
}
.footer .foot{
	height: 40px;
	background-image: url(../imgzsc/slogan.png);
	background-repeat: no-repeat;
	background-position:center bottom ;