.top{
	width: 100%;
	height: 50px;
	background: #333333;
}
.top .top-nav{
	height: 50px;
	width: 700px;
	float: left;
	margin-left: 11%;
}
.top .top-nav .top-list{
	list-style: none;
}
.top .top-nav .top-list .top-list-detail{
	display: inline-block;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 50px;
}
.top .top-nav .top-list .top-list-detail a{
	color: #b0b0b0;
	text-decoration: none;
}
.top .top-nav .top-list .top-list-detail a:hover{
	color: white;
}
.top .top-cart{
	width: 150px;
	height: 50px;
	float: right;
	background: #424242; 
	margin-right: 12%;
	color: #b0b0b0;
	position: relative;
}
.top .top-cart a{
	font-size: 16px;
	text-decoration: none;
	color: #b0b0b0;
	position: absolute;
	top:14px;
	left:46px;
}
.top .top-cart .iconfont{
	font-size: 30px;
	position: absolute;
	top:9px;
	left:16px;
}
.top .top-cart .xuangou{
	width: 401px;
	height: 85px;
	border: 0px solid black;
	position: absolute;
	top:50px;
	left:-252px;
	z-index: 2;
	transition: transform 1s linear 1s;
	background: white;
	text-align: center;
	line-height: 85px;
	color: black;
	display: none;
}
.top .top-cart:hover .xuangou{
	display: block;

}
.top .top-cart:hover{
	background: #fff;
}
.top .top-cart:hover a{
	color: tomato;
}
.top .top-cart:hover .iconfont{
	color: tomato;
}
.top .top-user-info{
	height: 50px;
	float: right;
}
.top .top-user-info .user-info{
	list-style: none;
	margin-right: 35px;
}
.top .top-user-info .user-info .user-info-detail{
	width: 60px;
	height: 50px;
	display: inline-block;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 50px;
	text-align: center;
}
.top .top-user-info .user-info .user-info-detail:hover{
	color: white;
}
.hed{
	width: 100%;
	height: 130px;
	position: relative;
}
.hed .logo{
	width: 60px;
	height: 60px;
	background: #ff6700;
	position: absolute;
	top:35px;
	left: 11%;
}
.hed .logo img{
	position: absolute;
	top:5px;
	left:6px;
	cursor: pointer;
	transition: transform 0.1s linear 0s;
}
.hed .logo:hover img{
	transform: translateX(46px);
}
.hed .logo .iconfont{
	font-size: 28px;
	color: white;
	position: absolute;
	top:11px;
	left:-28px;
	transition: transform 0.1s ease-in-out 0s;
}
.hed .logo:hover .iconfont{
	display: block;
	transform: translateX(46px);
}
.hed .hed-nav{
	position: absolute;
	top:48px;
	left:350px;
}
.hed .hed-nav .hed-nav-list{
	display: inline-block;
	height: 85px;
	font-size: 20px;
	margin-left: 20px;
}
.hed .hed-nav .hed-nav-list:hover{
	color: #ff6700;
	cursor: pointer;
}
.hed .hed-nav .hed-nav-list:hover .fl-list{
	display: block;
}
.hed .hed-nav .hed-nav-list .fl-list{
	width: 260px;
	height: 520px;
	background: white;
	position: absolute;
	top:83px;
	left:-130px;
	display: none;
	border: 1px solid #ff6700;
	z-index: 100
}
.hed .hed-nav .hed-nav-list .fl-list .hed-nav-list1{
	margin-top: 10px;
}
.hed .hed-nav .hed-nav-list .fl-list .hed-nav-list1 .fl{
	height: 50px;
	background: white;
	list-style: none;
	font-size: 18px;
	line-height: 50px;
	padding-left: 15px;
	color: black;
}
.hed .hed-nav .hed-nav-list .fl-list .hed-nav-list1 .fl:hover{
	background: #ff6700;
}
.hed .hed-nav .hed-nav-list .fl-list .hed-nav-list1 .fl .iconfont{
	float: right;
	padding-right: 15px;
	color: #ccc;
}
.hed .hed-nav .hed-nav-list .xmsj{
	width: 1980px;
	height: 270px;
	position: absolute;
	top:83px;
	left:-350px;
	background: white;
	display: none;
	z-index: 100;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list{
	margin-left: 16.2%;
}
.hed .hed-nav .hed-nav-list:hover .xmsj{
	display: block;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list .xmsj-list-detail{
	width: 220px;
	height: 270px;
	float: left;
	position: relative;
	list-style: none;
	border-right: 1px solid #ccc;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list .xmsj-list-detail:nth-child(1){
	border-left: 1px solid #ccc;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list .xmsj-list-detail img{
	position: absolute;
	top:60px;
	left:60px;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list .xmsj-list-detail .xmxp{
	font-size: 16px;
	border: 1px solid tomato;
	padding: 1px 20px 1px 20px;
	position: absolute;
	top:0px;
	left:68px;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list .xmsj-list-detail .sj{
	position: absolute;
	top:170px;
	left:70px;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .xmsj .xmsj-list .xmsj-list-detail .jg-799{
	position: absolute;
	top:210px;
	left:80px;
	color: #ff6700;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .hm{
	width: 1980px;
	height: 270px;
	position: absolute;
	top:83px;
	left:-350px;
	background: white;
	display: none;
	z-index: 100
}
.hed .hed-nav .hed-nav-list .hm .hm-list{
	margin-left: 16.2%;
}
.hed .hed-nav .hed-nav-list .hm .hm-list .hm-list-detail{
	width: 220px;
	height: 270px;
	float: left;
	position: relative;
	border-right: 1px solid #ccc;
	list-style: none;
}
.hed .hed-nav .hed-nav-list .hm .hm-list .hm-list-detail:nth-child(1){
	border-left: 1px solid #ccc;
}
.hed .hed-nav .hed-nav-list .hm .hm-list .hm-list-detail img{
	position: absolute;
	top:60px;
	left:60px;
}
.hed .hed-nav .hed-nav-list .hm .hm-list .hm-list-detail .hmsj{
	position: absolute;
	top:178px;
	left:75px;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .hm .hm-list .hm-list-detail .hmjg{
	position: absolute;
	top:210px;
	left:80px;
	color: #ff6700;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list:hover .hm{
	display: block;
}
.hed .hed-nav .hed-nav-list .ds{
	width: 1980px;
	height: 270px;
	position: absolute;
	top:83px;
	left:-350px;
	background: white;
	display: none;
	z-index: 100
}
.hed .hed-nav .hed-nav-list .ds .ds-list{
	margin-left: 16.2%;
}
.hed .hed-nav .hed-nav-list .ds .ds-list .ds-list-detail{
	width: 220px;
	height: 270px;
	float: left;
	position: relative;
	border-right: 1px solid #ccc;
	list-style: none;
}
.hed .hed-nav .hed-nav-list .ds .ds-list .ds-list-detail img{
	position: absolute;
	top:60px;
	left:42px;
}
.hed .hed-nav .hed-nav-list .ds .ds-list .ds-list-detail .dsrm{
	font-size: 16px;
	border: 1px solid tomato;
	padding: 1px 20px 1px 20px;
	position: absolute;
	top:0px;
	left:68px;
}
.hed .hed-nav .hed-nav-list .ds .ds-list .ds-list-detail .dstype{
	position: absolute;
	top:170px;
	left:70px;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .ds .ds-list .ds-list-detail .dsjg{
	position: absolute;
	top:210px;
	left:80px;
	color: #ff6700;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list:hover .ds{
	display: block;
}
.hed .hed-nav .hed-nav-list .bjb{
	width: 1980px;
	height: 270px;
	position: absolute;
	top:83px;
	left:-350px;
	background: white;
	display: none;
	z-index: 100;
}
.hed .hed-nav .hed-nav-list .bjb .bjb-list{
	margin-left: 16.2%;
}
.hed .hed-nav .hed-nav-list .bjb .bjb-list .bjb-list-detail{
	width: 220px;
	height: 270px;
	float: left;
	position: relative;
	border-right: 1px solid #ccc;
	list-style: none;
}
.hed .hed-nav .hed-nav-list .bjb .bjb-list .bjb-list-detail img{
	position: absolute;
	top:60px;
	left:42px;
}
.hed .hed-nav .hed-nav-list .bjb .bjb-list .bjb-list-detail .bjbtype{
	position: absolute;
	top:170px;
	left:70px;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .bjb .bjb-list .bjb-list-detail .bjbjg{
	position: absolute;
	top:210px;
	left:80px;
	color: #ff6700;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list:hover .bjb{
	display: block;
}
.hed .hed-nav .hed-nav-list .kt{
	width: 1980px;
	height: 270px;
	position: absolute;
	top:83px;
	left:-350px;
	background: white;
	display: none;
	z-index: 100
}
.hed .hed-nav .hed-nav-list .kt-list{
	margin-left: 16.2%;
}
.hed .hed-nav .hed-nav-list .kt-list .kt-list-detail{
	width: 220px;
	height: 270px;
	float: left;
	position: relative;
	border-right: 1px solid #ccc;
	list-style: none;
	border-left: 1px solid #ccc;
}
.hed .hed-nav .hed-nav-list .kt-list .kt-list-detail img{
	position: absolute;
	top:60px;
	left:42px;
}
.hed .hed-nav .hed-nav-list .kt-list .kt-list-detail .kttype{
	position: absolute;
	top:170px;
	left:50px;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .kt-list .kt-list-detail .ktjg{
	position: absolute;
	top:210px;
	left:80px;
	color: #ff6700;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list:hover .kt{
	display: block;
}
.hed .hed-nav .hed-nav-list .xp{
	width: 1980px;
	height: 270px;
	position: absolute;
	top:83px;
	left:-350px;
	background: white;
	display: none;
	z-index: 100
}
.hed .hed-nav .hed-nav-list .xp .xp-list{
	margin-left: 16.2%;
}
.hed .hed-nav .hed-nav-list .xp .xp-list .xp-list-detail{
	width: 220px;
	height: 270px;
	float: left;
	position: relative;
	border-right: 1px solid #ccc;
	list-style: none;
}
.hed .hed-nav .hed-nav-list .xp .xp-list .xp-list-detail:nth-child(1){
	border-left: 1px solid #ccc;
}
.hed .hed-nav .hed-nav-list .xp .xp-list .xp-list-detail img{
	position: absolute;
	top:60px;
	left:55px;
}
.hed .hed-nav .hed-nav-list .xp .xp-list .xp-list-detail .xptype{
	position: absolute;
	top:170px;
	left:70px;
	font-size: 16px;
}
.hed .hed-nav .hed-nav-list .xp .xp-list .xp-list-detail .xpjg{
	position: absolute;
	top:210px;
	left:75px;
	color: #ff6700;
	font-size: 16px
}
.hed .hed-nav .hed-nav-list:hover .xp{
	display: block;
}
.mix3{
	width: 100%;
	height: 70px;
	border-top: 1px solid #ccc;
}
.mix3 .mix3-word{
	font-size: 20px;
	padding: 5px;
	line-height: 70px;
	margin-left: 11%;
}
.mix3 .mix3-nav{
	float: right;
	margin-right: 12%;
}
.mix3 .mix3-nav .sx{
	color: #ccc;
}
.mix3 .mix3-nav .mix3-nav-detail{
	list-style: none;
	display: inline-block;
	font-size: 16px;
	color: grey;
	cursor: pointer;
	margin-top: 25px;
}
.mix3 .mix3-nav .ljgm{
	color: white;
	background: #ff6700;
	padding: 6px 40px 6px 40px;
	cursor: pointer;
}
.mix3 .mix3-nav .mix3-nav-detail:nth-child(1){
	color: #ff6700;
}
.mix3 .mix3-nav .mix3-nav-detail:hover{
	color: #ff6700;
}
.hed .search{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 34px;
	margin-right: 239px;
	position: relative;
}
.hed .search .search-text{
	float: left;
	width: 246px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-right: none; 
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.hed .search  .search-text:hover{
	border-color: #999;
}
.hed .search  .search-text:hover + .search-btn{
	border-color: #999;
}
.hed .search .search-btn{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
}
.hed .search:focus + .search-btn{
	border-color: #ff6700;
}

.hed .search .search-btn:hover{
	background: #ff6700;
	cursor: pointer;
	color: #fff;
}
.hed .search .search-text:focus {
	border-color: #ff6700;
}
.hed .search .search-text:focus + .search-btn {
	border-color: #ff6700;
}
.hed .search .search-hot-words{
	position: absolute;
	left: 100px;
	line-height: 50px;
}
.hed .search .search-text:focus ~ .search-hot-words{
	display: none;
}
.hed .search .search-hot-words .search-hot-words-item:hover{
	background: #ff6700;
	line-height: 18px;
	height: 18px;

}
.hed .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	padding: 0 3px;
	color: #757575;
	background: #eee;
	text-decoration: none;
}
.hed .search .search-keyword-list{
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 247px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
	font-size: 12px;
	z-index: 2
}
.hed .search-text:focus~.search-keyword-list{
	display: block;
	border-color: #ff6700;
	z-index: 999
}
.hed .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;
	list-style: none;
}
.hed .search .search-keyword-list .keyword-item a{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
	text-decoration: none;
}
.hed .search .search-keyword-list .keyword-item:hover{
	background: #ff6700;

}
.hed .keyword{
	color: #333;
}
.hed .search .search-keyword-list .keyword-item .num{
	float: right;
	color: #b0b0b0;
}
.img-video .carousel{
	width: 100%;
	height: 1000px;
	position: relative;
}
.img-video .carousel .carousel-imgs{
	width: 100%;
	height: 100%;
}
.img-video .carousel .carousel-imgs .carousel-imgs-item{
	position: absolute;
	width: 100%;
	height: 1000px;
	transition: all 1s;
}
.img-video .carousel .carousel-imgs .carousel-imgs-item img{
	width: 100%;
	height: 100%;	
}
.img-video .carousel .carousel-imgs .carousel-imgs-item img:hover{
	cursor: pointer;
}
.img-video .carousel .left-arrow{
	position: relative;
}
.img-video .carousel .left-arrow:hover{
	cursor: pointer;
}
.img-video .carousel .right-arrow{
	position: relative;
}
.img-video .carousel .right-arrow:hover{
	cursor: pointer;
}
.img-video .carousel .left-arrow img{
	position: absolute;
	top:-500px;
	left:20px;
}
.img-video .carousel .right-arrow img{
	position: absolute;
	top:-500px;
	left:1900px;
}
.img-video .carousel .carousel-btn{
	position: absolute;
	top:900px;
	left:930px;
	z-index: 99
}
.img-video .carousel .carousel-btn .active{
	background: white;
}
.img-video .carousel .carousel-btn li{
	width: 10px;
	height: 10px;
	background: #575c67;
	border-radius: 50%;
	display: inline-block;
	margin:10px;
}
.img-video .img-video-list .img-4{
	width: 100%;
	height: 1402px;
	background: #070707;
}
.img-video .img-video-list .img-4 .img-4-word1{
	width: 700px;
	color: white;
	font-size: 50px;
	line-height: 80px;
	position: absolute;
	top:1700px;
	left:200px;
}
.img-video .img-video-list .img-4 .img-4-word2{
	width: 700px;
	color: white;
	font-size: 26px;
	position: absolute;
	top:1950px;
	left:200px;
	line-height: 45px;
}
.img-video .img-video-list .img-4 .immg-4-img1{
	position: absolute;
	top:1755px;
	left:1000px;
}
.img-video .img-video-list .img-4 .img-4-img2{
	position: absolute;
	top:1755px;
	left:1052px;
}
.img-video .img-video-list .img-5{
	width: 100%;
	height: 1402px;
	background: #000;
	position: relative;
}
.img-video .img-video-list .img-5 .img-5-word1{
	color: white;
	font-size: 50px;
	line-height: 80px;
	position: absolute;
	top:380px;
	left:1000px;
}
.img-video .img-video-list .img-5 .img-5-word2{
	color:white;
	line-height: 45px;
	font-size: 26px;
	position: absolute;
	top:600px;
	left:1000px;
}
.img-video .img-video-list .img-5 img{
	position: absolute;
	top:150px;
	left:400px;
	width: 420px;
}
.img-video .img-video-list .img-6{
	width: 100%;
	height: 904px;
	background: #000;
	position: relative;
}
.img-video .img-video-list .img-6 .img-6-wprd1{
	color: #bf9f73;
	font-size: 50px;
	line-height: 80px;
	position: absolute;
	top:100px;
	left:400px;
}
.img-video .img-video-list .img-6 .img-6-wprd2{
	color: #bf9f73;
	font-size: 26px;
	line-height: 45px;
	position: absolute;
	top:300px;
	left:400px;
}
.img-video .img-video-list .mix3-sp{
	width: 100%;
	height: 600px;
	background: red;
	z-index: 99
}
.img-video .img-video-list .mix3-sp video{
	width: 100%;
	height: 800px;
	z-index: 99
}
.img-video .img-video-list .mix3-sp video:hover{
	cursor: pointer;
}
.img-video .img-video-list .img-7{
	width: 100%;
	height: 1004px;
}
.img-video .img-video-list .img-7 .img-7-word1{
	color: #bf9f73;
	position: absolute;
	top:1100px;
	left:1400px;
	font-size: 50px;
}
.img-video .img-video-list .img-7 .img-7-word2{
	color: #bf9f73;
	position: absolute;
	top:250px;
	left:1200px;
}
.img-video .img-video-list .img-7 .img-7-word3{
	color: #6a7077;
	position: absolute;
	top:350px;
	left:1200px;
}
.img-video .img-video-list .img-8{
	width: 100%;
	height: 1100px;
	color: #bf9f73;
	position: relative;
}
.img-video .img-video-list .img-8 .img-8-word1{
	font-size: 50px;
	position: absolute;
	top:150px;
	left:600px;
}
.img-video .img-video-list .img-8 .img-8-word2{
	font-size: 26px;
	color: #bf9f73;
	position: absolute;
	top:250px;
	left:450px;
	line-height: 45px;
}
.img-video .img-video-list .img-9{
	width: 100%;
	height: 1104px;
	background: #050505;
	margin-top: 0px;
	position: relative;
}
.img-video .img-video-list .img-9 .img-9-bigp{
	position: absolute;
	top:355px;
	left:200px;
}
.img-video .img-video-list .img-9 .img-9-108{
	position: absolute;
	top:800px;
	left:900px;
}
.img-video .img-video-list .img-9 .img-9-93{
	position: absolute;
	top:800px;
	left:1300px;
}
.img-video .img-video-list .img-9 .img-9-word1{
	font-size: 50px;
	color: #3d6dcc;
	line-height: 80px;
	position: absolute;
	top:400px;
	left:900px;
}
.img-video .img-video-list .img-9 .img-9-word2{
	font-size: 26px;
	color: #fff;
	line-height: 45px;
	position: absolute;
	top:600px;
	left:900px;
}
.img-video .img-video-list .img-10{
	width: 100%;
	height: 1404px;
	background: #050505;
}
.img-video .img-video-list .img-10 img{
	margin:90px auto;
	margin-left: 70px;
}
.img-video .img-video-list .img-11{
	width: 100%;
	height: 1404px;
	background: #121214;
	position: relative;
	overflow: hidden;
}
.img-video .img-video-list .img-11 video{
	position: absolute;
	top:300px;
	left:1000px;
	border-radius: 5%;
}
.img-video .img-video-list .img-11 .img-11-word1{
	color: #fff;
	font-size: 45px;
	position: absolute;
	top:600px;
	left:300px;
}
.img-video .img-video-list .img-11 .img-11-word2{
	color: #fff;
	font-size: 24px;
	position: absolute;
	top:750px;
	left:300px;
	line-height: 40px;
}
.img-video .img-video-list .img-11 .img-11-word3{
	color: #3d6dcc;
	font-size: 45px;
	position: absolute;
	top:900px;
	left:300px;
}
.img-video .img-video-list .img-11 .img-11-word4{
	color: #fff;
	font-size: 24px;
	position: absolute;
	top:960px;
	left:300px;
}
.img-video .img-video-list .img-11 .img-11-word5{
	color: #3d6dcc;
	font-size: 45px;
	position: absolute;
	top:1060px;
	left:300px;
}
.img-video .img-video-list .img-11 .img-11-word6{
	color: #fff;
	font-size: 24px;
	position: absolute;
	top:1120px;
	left:300px;
}
.img-video .img-video-list .img-12{
	width: 100%;
	height: 1404px;
	background: #101112;
}
.img-video .img-video-list .img-12 .img-12-word{
	width: 100%;
	height: 450px;
}
.img-video .img-video-list .img-12 .img-12-word .img-12-word-list{
	width: 1200px;
	height: 450px;
	margin-left: 20%;
}
.img-video .img-video-list .img-12 .img-12-word .img-12-word-list .img-12-words{
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	float: left;
	list-style: none;
	width: 400px;
	height: 225px;
	text-align: center;
	line-height: 80px;
}
.img-video .img-video-list .img-12 .img-12-word .img-12-word-list .img-12-words .detail{
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
}
.img-video .img-video-list .img-12 .img-12-imgs{
	width: 100%;
	height: 954px;
	background: #101112;
}
.img-video .img-video-list .img-12 .img-12-imgs img{
	margin-top: 45px;
	margin-left: 250px;
}
.img-video .img-video-list .img-13{
	width: 100%;
	height: 1404px;
	position: relative;
}
.img-video .img-video-list .img-13 img{
	width: 100%;
	height: 100%;
}
.img-video .img-video-list .img-13 .img-13-word1{
	font-size: 45px;
	color: #fff;
	position: absolute;
	top:100px;
	left:730px;
}
.img-video .img-video-list .img-13 .img-13-word2{
	font-size: 22px;
	position: absolute;
	top:280px;
	left:680px;
	color: white;
}
.img-video .img-video-list .img-14{
	width: 100%;
	height: 1104px;
	background: red;
	position: relative;
}
.img-video .img-video-list .img-14 img{
	width: 100%;
	height: 100%;
}
.img-video .img-video-list .img-14 .img-14-word1{
	font-size: 45px;
	color: #fff;
	position: absolute;
	top:100px;
	left:450px;
}
.img-video .img-video-list .img-14 .img-14-word2{
	font-size: 22px;
	position: absolute;
	top:280px;
	left:680px;
	color: white;
}
.img-video .img-video-list .img-15{
	width: 100%;
	height: 1104px;
}
.img-video .img-video-list .img-15 img{
	width: 100%;
	height: 100%;
}
.img-video .img-video-list .img-16{
	width: 100%;
	height: 1383px;
}
.img-video .img-video-list .img-16 .img-16-mix3{
	width: 100%;
	height: 1033px;
}
.img-video .img-video-list .img-16 img{
	width: 100%;
	height: 100%;
}
.img-video .img-video-list .img-16 .img-16-words{
	width: 100%;
	height: 350px;
}
.img-video .img-video-list .img-16 .img-16-words .img-16-word{
	width: 20%;
	height: 175px;
	background: #060912;
	float: left;
	text-align: center;
	line-height: 75px;
	list-style: none;
	font-size: 30px;
	color: white;
}
.img-video .img-video-list .img-16 .img-16-words .img-16-word span{
	font-size: 20px;
	color: white;
}
.img-video .img-video-list .img-16 .img-16-mix3 img{
	width: 100%;
	height: 100%;
}
.img-video .img-video-list .img-17{
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
}
.img-video .img-video-list .img-17 img{
	width: 100%;
	height: 100%;
	transition: transform 0.5s linear 0s;
}
.img-video .img-video-list .img-17 .img-17-word{
	color: #fff;
	font-size: 26px;
	position: absolute;
	top:180px;
	left:1390px;
	z-index: 99
}
.img-video .img-video-list .img-17:hover{
	cursor: pointer;
}
.img-video .img-video-list .img-17:hover img{
	transform: scale(1.01);
}
.footer{
	height: 300px;
	position: relative;
}
.footer .service{
	border-bottom: 1px solid #e0e0e0;
	margin:0px auto;
}
.footer .service .service-item{
	float: left;
	width: 20%;
	height: 16px;
	padding: 30px 0;
	text-align: center;
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.footer .service .service-item a{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #616161;
	border-right: 1px solid #e0e0e0;
}
.footer .service .service-item a:hover{
	color: #ff6700;
}
.footer .service .service-item:last-child a{
	border: none;
}
.footer .service .service-item a i{
	font-size: 22px;
	margin-right: 8px;
	vertical-align: -4px;
}
.footer .links .links-item{
	float: left;
	padding: 40px 0;
	margin-right: 105px;
}
.footer .links{
	position: absolute;
	top:100px;
	left:370px;
}
.footer .service .service-item a{
	text-decoration: none;
}
.footer .links .links-item dt{
	font-size: 14px;
	color: #424242;
	margin-bottom: 26px;
}
.footer .links .links-item dd{
	font-size: 12px;
	color: #757575;
	margin-bottom: 16px;
}
.footer .links .links-item dd a:hover{
	color: #ff6700;
}
.footer .links .links-item dd a{
	text-decoration: none;
	color: grey;
}
.footer .links .links-contact{
	float: right;
	width: 246px;
	height: 117px;
	margin: 40px 0;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.footer .links .links-contact .phone-nub{
	font-size: 22px;
	color: #ff6700;
}
.footer .links .links-contact .work-time,
.footer .links .links-contact .desc{
	font-size: 12px;
	color: #616161;
}
.footer .links .links-contact .desc{
	margin-bottom: 16px;
}
.footer .links .links-contact .call a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ff6700;
	background-color: #fff;
	text-decoration: none;
}
.footer .links .links-contact .call a i,
.footer .links .links-contact .call a{
	font-size: 12px;
	color: #ff6700;
}
.footer .links .links-contact .call a i{
	margin-right: 3px;
}
.footer .links .links-contact .call a:hover{
	background-color: #ff6700;
	color: #fff;
}
.footer .links .links-contact .call a:hover i{
	color: #fff;
}
.end{
	height: 148px;
	width: 100%;
	position: relative;
}
.end .info .logo{
	float: left;
	height: 55px;
	width: 55px;
	background: #ff6700;
	margin-top: 22px;
	position: absolute;
	top:27px;
	left:370px;
}
.end .info .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -100em;
}
.end .a1-item{
	width: 900px;
	position: absolute;
	top:25px;
	left:430px;
}
.end .a1-item a{
	text-decoration: none;
}
.end .a1 .icp{
	color: #757575;
	font-size: 10px;
	position: absolute;
	top:60px;
	left:430px;
}
.end .a1 .icp a{
	text-decoration: none;
	color: grey;
}
.end .a1 .icp a:hover{
	color: #ff6700;
}
.end .a1-item a{
	display: inline-block;
	font-size: 10px;
	margin-top: 20px;
	color: #757575;
	padding-right: 5px;
	border-right: 1px solid #e0e0e0;
}
.end .a1-item a:hover{
	color: #ff6700;
}
.end .a1-item a:last-child{
	border-right: none;
}
.end .a2-item a:hover{
	color: #ff6700;
}
.end .a2-item{
	float: right;
	position: absolute;
	top: 72px;
	right: 163px;
	color: #bbbbbb;
}
.end .a2-item img{
	height: 28px;
}
.end .foot{
	height: 40px;
	background-image: url(../images/slogan.png);
	background-repeat: no-repeat;
	background-position:center bottom ;
